<section>
    <script src="https://kit.fontawesome.com/76d003de19.js" crossorigin="anonymous"></script>
      <!-- NavBar-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= profile_home_url%>">
            <i class="fa-solid fa-house"></i> <!--FontAwesome-->
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <!--These are all Links in the NavBar-->
              <li class="nav-item">
                <a class="nav-link" href="<%= profile_about_url%>">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= profile_portfolio_url%>">Portfolio</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!--- Text Section -->

      <div class="container px-4 text-center"> <!-- A Bootstrap component. Uses gutters to keep the text blocks separated-->
        <div class="row gx-5">
          <div class="col">
           <div class="p-3 bg-white">
            Hi, Welcome to Sarah Goyette's Page. I'm so glad you're here!
            
          </div>
          </div>
          <div class="col">
            <div class="p-3 bg-white">This website will take you through my life and help you get to know me. I hope you
              like learning new things! Each page will have new facts about different sections about my life, along with
              pictures. Enjoy! </div>
          </div>
        </div>
      </div>
      
        <!-- BUTTON-->
        <!-- A BootStrap linked button-->
        <a class="btn btn-primary" href="https://youtu.be/xvFZjo5PgG0?si=mKwAzSW29U1VRc5I" role="button">
          <i class="fa-solid fa-bolt"></i>
          Press Me! 
          <i class="fa-solid fa-bolt"></i>
        </a>

        <!-- ALERT-->
        <!-- BootStrap Alert-->
        <div class="alert alert-info fixed-bottom text-center" role="alert">
          <i class="fa-solid fa-circle-info"></i>
          Tried the button and didn't like what you saw? Go <a href="https://en.wikipedia.org/wiki/Rickrolling" class="alert-link">here</a> for more information.
        </div>
        
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    </section>